speedport-flow.json
[{"id":"6cedee31.01916","type":"inject","z":"3bbf0bb9.efd0f4","name":"Get Data Timer","topic":"","payload":"true","payloadType":"bool","repeat":"60","crontab":"","once":true,"onceDelay":"3","x":140,"y":40,"wires":[["21e326b6.bcba0a"]]},{"id":"21e326b6.bcba0a","type":"http request","z":"3bbf0bb9.efd0f4","name":"Get Speedport Data","method":"GET","ret":"obj","url":"http://192.168.0.1/data/Status.json","tls":"","x":140,"y":90,"wires":[["2bb4d903.bc2446"]]},{"id":"2bb4d903.bc2446","type":"function","z":"3bbf0bb9.efd0f4","name":"process data","func":"var msg1 = {};\nvar msg2 = {};\nvar msg3 = {};\nvar msg4 = {};\n\nmsg1.payload = {\"getLinkStatus\":msg.payload[17].varvalue};\nmsg2.payload = {\"getOnlineStatus\":msg.payload[9].varvalue};\nmsg3.payload = {\"getDownStream\":msg.payload[23].varvalue};\nmsg4.payload = {\"getUpStream\":msg.payload[24].varvalue};\n\nreturn [msg1,msg2,msg3,msg4];\n","outputs":4,"noerr":0,"x":130,"y":160,"wires":[["d1e8f61b.b543a8"],["d6972f24.e7f26"],["8e20845c.275e68"],["3914d674.8ceb0a"]]},{"id":"9b81927c.6ffb9","type":"ui_text","z":"3bbf0bb9.efd0f4","group":"bc74f64b.a431b8","order":1,"width":"3","height":"1","name":"T LinkStatus","label":"Link Status","format":"","layout":"row-spread","x":730,"y":100,"wires":[]},{"id":"1d5c2476.7160fc","type":"ui_button","z":"3bbf0bb9.efd0f4","name":"B LinkStatus","group":"bc74f64b.a431b8","order":2,"width":"3","height":"1","passthru":false,"label":"{{msg.payload.getLinkStatus}}","color":"{{msg.color}}","bgcolor":"{{msg.background}}","icon":"","payload":"","payloadType":"str","topic":"","x":540,"y":100,"wires":[["9b81927c.6ffb9"]]},{"id":"d1e8f61b.b543a8","type":"function","z":"3bbf0bb9.efd0f4","name":"check","func":"if (msg.payload.getLinkStatus === \"online\") {\n  msg.background = \"green\";\n} else {\n  msg.background = \"red\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":100,"wires":[["1d5c2476.7160fc","6410792b.1c8528"]]},{"id":"6410792b.1c8528","type":"debug","z":"3bbf0bb9.efd0f4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":540,"y":40,"wires":[]},{"id":"6ff40238.968b8c","type":"ui_text","z":"3bbf0bb9.efd0f4","group":"bc74f64b.a431b8","order":3,"width":"3","height":"1","name":"T OnlineStatus","label":"Online Status","format":"","layout":"row-spread","x":740,"y":140,"wires":[]},{"id":"93d35373.0023d","type":"ui_button","z":"3bbf0bb9.efd0f4","name":"B OnlineStatus","group":"bc74f64b.a431b8","order":4,"width":"3","height":"1","passthru":false,"label":"{{msg.payload.getOnlineStatus}}","color":"{{msg.color}}","bgcolor":"{{msg.background}}","icon":"","payload":"","payloadType":"str","topic":"","x":550,"y":140,"wires":[["6ff40238.968b8c"]]},{"id":"d6972f24.e7f26","type":"function","z":"3bbf0bb9.efd0f4","name":"check","func":"if (msg.payload.getOnlineStatus === \"online\") {\n  msg.background = \"green\";\n} else {\n  msg.background = \"red\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":140,"wires":[["93d35373.0023d"]]},{"id":"6fcc1a1f.9d4864","type":"ui_text","z":"3bbf0bb9.efd0f4","group":"bc74f64b.a431b8","order":5,"width":"3","height":"1","name":"T DownStream","label":"DownStream","format":"","layout":"row-spread","x":740,"y":180,"wires":[]},{"id":"ef7d716.5a75b9","type":"ui_button","z":"3bbf0bb9.efd0f4","name":"B DownStream","group":"bc74f64b.a431b8","order":6,"width":"3","height":"1","passthru":false,"label":"{{msg.payload.getDownStream}}","color":"{{msg.color}}","bgcolor":"{{msg.background}}","icon":"","payload":"","payloadType":"str","topic":"","x":550,"y":180,"wires":[["6fcc1a1f.9d4864"]]},{"id":"8e20845c.275e68","type":"function","z":"3bbf0bb9.efd0f4","name":"check","func":"if (msg.payload.getDownStream >= 80000) {\n  msg.background = \"green\";\n} else {\n  msg.background = \"red\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":180,"wires":[["ef7d716.5a75b9","6410792b.1c8528","cb63aa12.069ee8"]]},{"id":"a76284c5.ea9c98","type":"ui_text","z":"3bbf0bb9.efd0f4","group":"bc74f64b.a431b8","order":7,"width":"3","height":"1","name":"T UpStream","label":"UpStream","format":"","layout":"row-spread","x":730,"y":260,"wires":[]},{"id":"9c5f4c14.fc7ea","type":"ui_button","z":"3bbf0bb9.efd0f4","name":"B UpStream","group":"bc74f64b.a431b8","order":8,"width":"3","height":"1","passthru":false,"label":"{{msg.payload.getUpStream}}","color":"{{msg.color}}","bgcolor":"{{msg.background}}","icon":"","payload":"","payloadType":"str","topic":"","x":540,"y":260,"wires":[["a76284c5.ea9c98"]]},{"id":"3914d674.8ceb0a","type":"function","z":"3bbf0bb9.efd0f4","name":"check","func":"if (msg.payload.getUpStream >= 30000) {\n  msg.background = \"green\";\n} else {\n  msg.background = \"red\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":260,"wires":[["9c5f4c14.fc7ea","6410792b.1c8528","85062a4a.c0cc98"]]},{"id":"2d00abae.4cf624","type":"ui_chart","z":"3bbf0bb9.efd0f4","name":"DownStream","group":"29d25ac6.9bd406","order":11,"width":"12","height":"3","label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":730,"y":220,"wires":[[],[]]},{"id":"15fe5de5.92aeb2","type":"ui_chart","z":"3bbf0bb9.efd0f4","name":"UpStream","group":"29d25ac6.9bd406","order":11,"width":"12","height":"3","label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":720,"y":300,"wires":[[],[]]},{"id":"a73d3ffc.f3393","type":"ui_text","z":"3bbf0bb9.efd0f4","group":"bc74f64b.a431b8","order":0,"width":0,"height":0,"name":"spacer","label":"","format":"","layout":"row-spread","x":140,"y":240,"wires":[]},{"id":"d09a13f2.74013","type":"ui_text","z":"3bbf0bb9.efd0f4","group":"bc74f64b.a431b8","order":0,"width":0,"height":0,"name":"spacer","label":"","format":"","layout":"row-spread","x":140,"y":280,"wires":[]},{"id":"85062a4a.c0cc98","type":"function","z":"3bbf0bb9.efd0f4","name":"convert","func":"msg.payload = msg.payload.getUpStream;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":300,"wires":[["15fe5de5.92aeb2"]]},{"id":"cb63aa12.069ee8","type":"function","z":"3bbf0bb9.efd0f4","name":"convert","func":"msg.payload = msg.payload.getDownStream;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":220,"wires":[["2d00abae.4cf624"]]},{"id":"bc74f64b.a431b8","type":"ui_group","z":"","name":"Speedport Status","tab":"9408f04c.0fa6c","order":1,"disp":true,"width":"7","collapse":false},{"id":"29d25ac6.9bd406","type":"ui_group","z":"","name":"DSL Speed","tab":"9408f04c.0fa6c","order":2,"disp":true,"width":"12","collapse":false},{"id":"9408f04c.0fa6c","type":"ui_tab","z":"","name":"Speedport","icon":"dashboard","order":2}]
